* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.divisor {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #d9d9d9;
}

#container {
  width: 900px;
  margin: 50px auto;
}

img { 
  width: 100%;
}

/* #content-list {
  padding-top: 24px;
} */

#title-list {
  padding-top: 24px;
  padding-bottom: 64px;
}

h1 {
  color: #1b1b1b;
  font-size: 36px;
}

h2 {
  color: #1b1b1b;
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 8px;
}

h3 {
  color: #1b1b1b;
  font-size: 28px;
}

h5 {
  color: #e1624f;
  text-transform: uppercase;
}

p {
  color: #333333;
  margin: 0;
}

#subtitle {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li h3 {
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 4px;
}

li + li {
  margin-top: 48px;
}

img + li {
  margin-top: 20px;
}

li + img {
  margin-top: 48px;
}

span{
  font-weight: bold;
}

#description {
  text-align: center;
}

footer p{
  font-family: "Alice", serif;
  text-align: center;
  margin: 48px auto;
  line-height: 150%;
}

.first {
  color: #591B98;
}

.second {
  color: #E5245E;
}

.third {
  color: #E95E10;
}

/* #0C51A7

#E5245E
#591B98 */